# placed in /etc/systemd/system/narcotrack.service
[Unit]
Description=Service (re)starting Narcotrack Java Application
After=mariadb.service multi-user.target

[Service]
EnvironmentFile=/etc/environment
ExecStartPre=/bin/sleep 30
ExecStart=/usr/bin/java -jar /home/pi/narcotrack/app.jar
WorkingDirectory=/home/pi/narcotrack
User=pi

[Install]
WantedBy=multi-user.target